<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ase_group_1.health_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_local_hospital_black_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
        android:name=".SplashActivity"
        android:label="CliniConnect"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="Login to CliniConnect"/>

        <activity
            android:name=".MainActivity"
            android:label="Home CliniConnect"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Paperwork"
            android:label="@string/title_activity_paperwork"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClinicInfo"
            android:label="@string/title_activity_clinic_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BPLog"
            android:label="@string/title_activity_bplog"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
